input,
button,
select,
textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0);
}

button {
    background: transparent;
}


        /deep/ .el-checkbox {
          color: #666666;
          .el-checkbox__inner:hover {
            border-color: #e5b467;
          }
          .el-checkbox__input.is-focus .el-checkbox__inner {
            border-color: #e5b467;
          }
          .el-checkbox__input.is-checked .el-checkbox__inner,
          .el-checkbox__input.is-indeterminate .el-checkbox__inner {
            color: #e5b467;
            background-color: #e5b467;
            border-color: #e5b467;
          }
          .el-checkbox__input.is-checked + .el-checkbox__label {
            color: #666666;
          }
        }
