input,
button,
select,
textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background: transparent;
}

input {
    width: 100%;
}